<mat-toolbar color="primary">
    <div>
        <a routerLink="/">LOGO</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                <a routerLink="/create">
                    <span class="navigation-icons">Create</span>
                </a>
            </li>
            <li>
                <a routerLink="/view">
                    <span class="navigation-icons">View</span>
                </a>
            </li>
            <li>
                <a routerLink="/update">
                    <span class="navigation-icons">Update</span>
                </a>
            </li>    
            <li>
                <a routerLink="/delete">
                    <span class="navigation-icons">Delete</span>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>